<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Student Information System</h1>
    <h2 th:text="${student.name}">Name</h2>
    <h2 th:text="${student.contact}">contact</h2>
    <h2 th:text="${student.course}">course</h2>

	<div th:object="${student}">
		<h1>Student Information System Section Expression</h1>
		<h2 th:text="*{name}">Name</h2>
		<h2 th:text="*{contact}">contact</h2>
		<h2 th:text="*{course}">course</h2>
	</div>
</body>
</html>